@media screen and (max-width: 576px) {
    .nav-container{
        flex-direction: column;
        /* padding-bottom: 20px; */
        
    }
    .nav-items-container{
        flex-direction: column;
        /* padding-bottom: 20px; */
    }
    .nav-items-container a{
        padding-bottom: 20px;
    }



    
}